[program:matriz]
command=bash -c "sleep 5 && /home/pi/matriz/client.py"
directory=/home/pi/matriz
stdout_logfile={{ deploy_dir }}/{{ project_name }}/matriz.log
stderr_logfile={{ deploy_dir }}/{{ project_name }}/matriz.log
user={{ deploy_user }}
priority=699                   ; the relative start priority (default 999)
autostart=true                 ; start at supervisord start (default: true)
autorestart=true
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
;startsecs=1                   ; # of secs prog must stay up to be running (def. 1)
;startretries=3                ; max # of serial start failures when starting (default 3)
stopasgroup=true               ; send stop signal to the UNIX process group (default false)
redirect_stderr=true           ; redirect proc stderr to stdout (default false)
